*{
	/*margin: 0;
	padding: 0;
	box-sizing: border-box;*/
}
body{
	background-image: url(../IMAGE/dinnerback.png);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	height: 110vh;
}

.slider-wrap {
	position: relative;
	margin: 0px auto;
	width: 100%;
	/*background: #888;*/
	float: left;
	height: 340px;
}
.slider {
	position: relative;
	width: 80%;
	margin: auto;
	padding: 20px 0px;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	text-align: center;
}
ul li img {
	display: inline-block;
	vertical-align: middle;
	width: 233px;
	height: 236px;
	background: black;
	border: 1px solid #fff;
}
.slider-arrow {
	position: absolute;
	top: 80%;
	width: 35px;
	height: 64px;
	background: orange;
	color: #fff;
	text-align: center;
	text-decoration: none;
	/*border-radius: 100%;*/
	padding-top: 20px;
	font-weight: bold;
<br>
}
.sa-left {
	left: 117px;
}
.sa-right {
	right: 90px;
}
/* light box jquery starts*/

.lb-album {
	width: 100%;
	margin: 2px auto;
	/*height: 500px;*/
	/*border: 1px solid white;*/
}
.lb-album li {
	float: left;
	margin: 5px;
	position: relative;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
}
.lb-album li > a {
	width: 250px;
	height: 250px;
	position: relative;
	padding: 10px;
	background: #f1d2c2;
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.lb-album li > a span {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 150px;
	color: #fff;
	/*text-shadow: 0px 1px 1px rgba(255,255,255,0.6);*/
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(15,21,16);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.56)), color-stop(100%, rgba(15,21,16,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgb(15,21,16);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.56)), color-stop(100%, rgba(15,21,16,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(15,21,16,1) 100%);
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	/*text-shadow: 0px 1px 1px rgba(255,255,255,0.6);*/
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
	color:#000;
}
.lb-overlay div h3 {
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid #fff;
	color:#000;
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 16px;
	font-style: italic;
	color:#000;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	/*background: rgba(15,16,21,0.8);*/
	z-index: 1001;
	color: #fff;
	position: absolute;
	top:20px;
	left: 50%;
	padding:10px;
	font-size:30px;
	line-height: 26px;
	text-align: center;
	width:100px;
	/*height: 70px;*/
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-close button{
	padding: 3px;
	background: orange;
	border-radius: 5%;
	outline: none;
	color: white;
	border: transparent;
	font-size: 20px;
	font-weight: 700;
	width: 90px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	max-width: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	width: auto;
	height: auto;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
 0% {
-webkit-transform: scale(0.6);
opacity: 0;
}
 100% {
-webkit-transform: scale(1);
opacity: 1;
}
}
@-moz-keyframes fadeInScale {
 0% {
-moz-transform: scale(0.6);
opacity: 0;
}
 100% {
-moz-transform: scale(1);
opacity: 1;
}
}
@-o-keyframes fadeInScale {
 0% {
-o-transform: scale(0.6);
opacity: 0;
}
 100% {
-o-transform: scale(1);
opacity: 1;
}
}
@-ms-keyframes fadeInScale {
 0% {
-ms-transform: scale(0.6);
opacity: 0;
}
 100% {
-ms-transform: scale(1);
opacity: 1;
}
}
@keyframes fadeInScale {
 0% {
transform: scale(0.6);
opacity: 0;
}
 100% {
transform: scale(1);
opacity: 1;
}
}

/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
 height: 100%;
}
.couple{
    padding: 20px;
	color: orange;
}
.heading{
	width: 75%;

	text-align: center;
	margin-left: 175px;
	/*background-color: yellow;*/
}
b{
	color: orange;
}
  a button{
	width: 200px;
	padding: 10px;

}
.menulist{
	position: absolute;
	bottom: -260px;
	left: 270px;
}
.menulist a{
	font-weight: 700;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 100px;
	background-color: orange;
	padding: 10px;
	margin: 0px 20px;
	text-decoration: none;
}
.menulist a li{
	list-style: none;
}
