*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../IMAGE/location.png);
	background-size: cover;
	background-repeat: no-repeat;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);


.container1{
  color: orange;
  top: -30px;
  width: 700px;
  position:absolute;
  left:80px;
  /*border: 1px solid orange;*/
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 600px;
    height: 300px;
 letter-spacing: 3px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 10px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
iframe{
	border-radius: 5%;
	width: 300px;
	height: 300px;
}
li{
	list-style: none;
	color: orange;
	font-size: 25px;
}
a li:hover{
	color: white;
}